@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --backgroundcolor: black;
    --textcolorlight: white;
    --textcolordark: black;
    --usfcolor: #00673f;
    --accentcolor: white;
    --font: 'Inter','Roboto','Arial','Times New Roman';
}


* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    max-height: 100vh;
    height: calc(100vh-30px);
    width: 100%;
    font-family: var(--font);
    background-color: var(--backgroundcolor);
    color: var(--textcolorlight);
}

h1,h2,h3,h4,h5 {
    text-align: center;
}

.no {
    margin-top: 50px;
    margin-bottom: 50px;
}

.wait {
    margin-bottom: 30px;
}

.question {
    text-align: left;
    margin-right: 10px;
}

.questionBlock {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.countup {
    text-align: center;
    margin-bottom: 40px;
  }
  .countup .timeel {
    display: inline-block;
    padding: 12px;
    background: var(--usfcolor);
    margin: 0;
    color: var(--textcolorlight);
    min-width: 2.6rem;
    margin-left: 13px;
    border-radius: 10px 0 0 10px;
  }
  .countup span[class*="timeRef"] {
    border-radius: 0 10px 10px 0;
    margin-left: 0;
    background: var(--accentcolor);
    color: var(--textcolordark);
    width: 90px;
  }

footer {
    position: fixed;
    bottom: 25px;
    text-align: center;
    width: 100%;
    height: 30px;
}

.fireworksDiv {
    position:fixed;
    width: 100%;
    height: 500px;
    bottom:0;
}

#usflogoback {
    display: none;
}

a {
    color: var(--textcolorlight);
}

@media only screen and (max-width: 1000px) {
    #usflogofront {
        display: none;
    }

    #usflogoback {
        display: block;
        margin-left: calc((100% - 50px)/2);
        margin-right: auto;
    }

    .question {
        margin-right: 0;
    }

}

span {
    margin-bottom:20px;
}

.clocks {
    margin-bottom: 10px;
}